@model Supplier

@{
    ViewData["Title"] = "Details";
}


        <h3 class="mb-3">@Html.DisplayFor(model => model.Name)</h3>

        <ul class="nav nav-pills navSections">
            <li class="nav-item">
                <a class="nav-link active bg-dark" aria-current="page" href="suppliers-details.html">Details</a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link" href="suppliers-details-log.html">Log</a>
            </li>*@
        </ul>

        <div class="details">
            <div class="row">
                <dl class="col-md-3 col-sm-12">
                    <dt>Name</dt>
                    <dd>@Html.DisplayFor(model => model.Name)</dd>
                </dl>

                <dl class="col-md-3 col-sm-12">
                    <dt>Type</dt>
                    <dd>
                        <ul>
                            <li>@Html.DisplayFor(model => model.Type)</li>
                        </ul>
                    </dd>
                </dl>

                <dl class="col-md-3 col-sm-12">
                    <dt>Status</dt>
                    @if (Model.Status == true)
                    {
                        <dd>
                            Active
                        </dd>
                    }
                    else
                    {
                        <dd>
                            Close
                        </dd>
                    }
                </dl>

                <dl class="col-md-3 col-sm-12">
                    <dt>Code</dt>
                    <dd>
                        <span class="badge rounded-pill bg-light text-dark">
                            @Html.DisplayFor(model => model.Code)
                        </span>
                    </dd>
                </dl>
            </div>
        </div>

        <div class="details">
            <div class="row">
                <dl class="col-sm-12">
                    <dt>Notes</dt>
                    <dd>
                        @*<span class="badge rounded-pill bg-light text-dark">無</span>*@
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.Notes)
                    </dd>
                </dl>
            </div>
        </div>

        <div class="form-group row mt-5">
            <div class="col">
                <a asp-action="Suppliers" class="btn btn-link btn-sm">&laquo; Back to Suppliers</a>
                <a asp-action="Suppliers_Edit" asp-route-id="@Model.Id" class="btn btn-primary" type="submit" >Edit</a>

                <button type="submit" class="btn btn-link btn-sm link-danger deleteBtn" data-bs-toggle="modal" data-bs-target="#DeleteConfirmModal">Delete</button>
            </div>
        </div>


    <div class="modal fade" id="DeleteConfirmModal" tabindex="-1" aria-labelledby="Delete Confirmation" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Delete this supplier?
                </div>
                <div class="modal-footer">
                    <form asp-action="Suppliers_Delete">
                        <input type="hidden" asp-for="@Model.Id" />
                        <button type="submit" class="btn btn-link btn-sm link-danger deleteBtn">Delete</button>
                    </form>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
