@model Order
@inject OrderService os
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _accessor
@{
    Layout = null;
    LoginAuthorizeVM vm = _accessor.HttpContext.Session.GetObject<LoginAuthorizeVM>("User");
    string[] StatusArray = { "New", "Processing", "Fulfilled", "Cancelled" };
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/boder.css" rel="stylesheet" />
    <title>Navigation</title>
</head>

<body class="bgBody">

    <nav class="navbar navbar-expand-md navbar-dark mb-4 bgNav">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="HomePage" asp-controller="Login">SNR</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @if (vm.LookOrders_Place == true || vm.LookOrders_Proccess == true)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Orders">Orders</a>
                        </li>
                    }
                    @if (vm.LookInventory)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="InventoryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Inventory
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="InventoryDropdown">
                                <li><a class="dropdown-item" asp-action="Materials" asp-controller="Materials">Materials</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-action="Suppliers" asp-controller="Suppliers">Suppliers</a></li>
                            </ul>
                        </li>
                    }
                    @if (vm.LookEntities)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="EntitiesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Entities
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="EntitiesDropdown">
                                <li><a class="dropdown-item" asp-action="Stores" asp-controller="Stores">Stores</a></li>
                                <li><a class="dropdown-item" asp-action="Warehouses" asp-controller="WarehouseCreateViewModels">Warehouses</a></li>
                            </ul>
                        </li>
                    }
                    @if (vm.LookReports)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="InventoryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Reports
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="InventoryDropdown">
                                <li><a class="dropdown-item" href="reports/toast.html">Toast</a></li>
                            </ul>
                        </li>
                    }
                    @if (vm.LookSettings)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="SettingsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Settings
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="SettingsDropdown">
                                <li><a class="dropdown-item" asp-action="Profile" asp-controller="Login">My Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-action="Login" asp-controller="Login">Logout</a></li>
                            </ul>
                        </li>
                    }
                    @if (vm.LookAdmin)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="AdminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="AdminDropdown">
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Team">Teams</a></li>
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="User">Users</a></li>
                            </ul>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>

    <main role="main" class="container mb-5">

        <h3 class="mb-3">Order # @Model.Id</h3>

        <ul class="nav nav-pills navSections">
            <li class="nav-item">
                <a class="nav-link active bg-dark" aria-current="page" href="details.html">Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="details-log.html">Log</a>
            </li>
        </ul>

        <div class="details">
            <div class="row">
                <dl class="col-md-4 col-sm-12">
                    <dt>From</dt>
                    <dd>@ViewBag.FromMappings</dd>
                </dl>
                <dl class="col-md-4 col-sm-12">
                    <dt>To</dt>
                    <dd>@ViewBag.ToMappings</dd>
                </dl>
                <dl class="col-md-4 col-sm-12">
                    <dt>Order Date</dt>
                    <dd>
                        @Model.DeliveryDate.Value
                        <br>by Name
                    </dd>
                </dl>
            </div>
        </div>

        <div class="ordersProcess">
            <div class="opRow">
                <div class="opTH opThWHStatus">Status</div>
                <div class="opTD opTdWHStatus newOrderBg">@StatusArray[int.Parse(Model.Status) - 1]</div>
            </div>
            <div class="opRow">
                <div class="opTH opThWHDD">Delivery Date</div>
                <div class="opTD opTdWHDD">@Model.DeliveryDate.Value</div>
            </div>

            <div class="opRow">
                <div class="opTH opThWHPrivateNote">
                    <label class="" for="PrivateNote">Private Note</label>
                    <div class="opHelpText">Only users that can process this warehouse will see these notes.</div>
                </div>
                <div class="opTD opTdWHPrivateNote">
                    <span class="badge rounded-pill bg-light text-dark">無</span>
                    @Model.PrivateNote
                    <br>
                    If private note has newline,
                    <br>then please
                    <br>
                    <br>preserve them.
                </div>
            </div>
        </div>


        @foreach (var category in ViewBag.SelectCategies)
        {
            <div class="ocCaption">@category</div>
            <div class="ordersContainer">

                <div class="ocRowTH">
                    <div class="ocTH">&nbsp;</div>
                    <div class="ocTH">SKU</div>
                    <div class="ocTH">Name</div>
                    <div class="ocTH text-center">QTY</div>
                </div>

                @foreach (var item in Model.OrderDetails.Where(od => od.Material.MaterialCategory.Name == category).ToList())
                {
                    <div class="ocRowTD">
                        <div class="ocTD occTN"><img src="/Images/@item.Material.Picture" class="rounded occTNimg" alt=""></div>
                        <div class="ocTD ocTdSKU">@item.Material.Sku</div>
                        <div class="ocTD ocTdName">
                            @item.Material.EnglishName
                            <br>@item.Material.ChineseName
                        </div>
                        <div class="ocTD ocTdOrderedQTY">@item.Count</div>
                    </div>
                }
            </div><!-- /ordersContainer -->
        }

        @foreach (var item in ViewBag.Messages)
        {
            <div class="message">
                <div class="row">
                    <div class="col-sm-3 messageFrom">
                        @item.DisplayName
                    </div>
                    <div class="col-sm-9">
                        <div class="messageBody">
                            @item.Contents
                        </div>
                        <div class="messageDate">@item.DateTime</div>
                    </div>
                </div>
            </div><!-- /message -->

        }


        <div class="messageReply">
            <div class="row">
                <div class="col-sm-3 messageFrom">
                    @ViewBag.LoginDisplayname
                </div>
                <div class="col-sm-9">
                    <form action="/Orders/OrderMessage" method="post">

                        <input type="hidden" name="OtherId" value="@Model.Id" />

                        <textarea name="Contents" class="form-control form-control-sm" id="" rows="5"></textarea>

                        <div class="mt-3 text-end">
                            <button type="submit" class="btn btn-secondary">Comment</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="form-group row mt-5">
            <div class="col">
                <a asp-action="Index" class="btn btn-link" role="button">&laquo; Back to Orders</a>
                @if (vm.TeamId == 1)
                {
                    <a asp-action="Details_Edit" asp-route-id="@Model.Id" class="btn btn-secondary me-3" role="button">Edit</a>
                    <a asp-action="Process" asp-route-id="@Model.Id" class="btn btn-secondary me-3">Process Order</a>

                }
                else
                {
                    @if (await os.GETX(Model.Id))
                    {
                        if (Model.Status == "1")
                        {
                            <a asp-action="Details_Edit" asp-route-id="@Model.Id" class="btn btn-secondary me-3" role="button">Edit</a>
                        }
                    }
                    else
                    {
                        <a asp-action="Process" asp-route-id="@Model.Id" class="btn btn-secondary me-3">Process Order</a>
                    }
                }
                <!-- Only if User = Admin -->
                <button type="submit" class="btn btn-link btn-sm link-danger deleteBtn" data-bs-toggle="modal" data-bs-target="#DeleteConfirmModal">Delete</button>

                <!-- Only if Order Status = NEW -->
                <button type="submit" class="btn btn-link btn-sm link-danger cancelOrderBtn" data-bs-toggle="modal" data-bs-target="#CancelOrderModal">Cancel Order</button>
            </div>
        </div>

    </main>


    <!-- Delete Confirm Modal -->


    <div class="modal fade" id="DeleteConfirmModal" tabindex="-1" aria-labelledby="Delete Confirmation" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Delete this order?
                </div>
                <div class="modal-footer">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="@Model.Id" />

                        <button type="submit" class="btn btn-link btn-sm link-danger me-3">Delete</button>
                    </form>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Cancel Order Modal -->
    <div class="modal fade" id="CancelOrderModal" tabindex="-1" aria-labelledby="Cancel Order Confirmation" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Cancel this order?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link btn-sm link-danger me-3">Yes, Cancel Order</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No, keep order</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>